* {
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    flex-wrap: wrap;
    
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #b3f7b9;
}

header a {
    text-decoration: none;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
}

#logo a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
}

#logo img {
    width: 40%;
}

#droites {
    display: flex;
    align-items: center;
}

#icones{
    
     margin-left: 15px; 
     width: 30px; /* Ajustez la taille selon vos besoins */
     height: 30px; /* Ajustez la taille selon vos besoins */
    
}

header p{
    color: black;
    text-decoration: none;
    font-size:x-large;
}
nav {
    width: 18%;
    background-color: #FFE0B5;
    padding-left: 2%;
}

nav a {
    text-decoration: none;
    color: black;
}

#loupe{
    margin-top: 3%;
}
main {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    background-color: #FFF5E1;
}
main a {
    width: 33%;
    margin: 0%;
    text-decoration: none;
}

main article {
    width: 98%;
    margin: 1%;
    border: 2px solid #FFE0B5;
    border-radius: 2%;
    display: flex;
}
main img{
    width: 40%;
    margin: 2%;
    border-radius: 2%;
}
#infos {
    margin: 2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: black;
}
#infos h3 {
    margin-top: 2%;
}
aside {
    display: flex;
    flex-wrap: wrap;
    width: 19%;
    background-color: #DDEEFF;
    border: 2px solid #b5ebff;
    border-radius: 2%;
    margin-left: .3%;
}
aside a {
    text-decoration: none;
}

aside article {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}

footer {
    position: fixed ;
    text-align: center ;
    width: 100%;
    background-color: #E8DFF5;
    bottom: 0;
    left: 0;
    padding: 10px;
}
